<div class="hero is-dark is-fixed-bottom">
    <div class="section">
        <div class="columns">
        <div class="column">
            <div id="contact-box-footer">
                <div>
                    <a class="navbar-item" href="{{ path('app_home_index') }}">
                        <img src="{{ asset('assets/images/logo_snkrs.png') }}" alt="moussa adji logo">
                    </a>
                </div>
                <div class="control">
                    <h4 class="is-4">Abonnez-vous</h4>
                    <input class="input is-small is-rounded is-primary" type="email" placeholder="Email">
                    <button class="button is-rounded is-small" type="submit">Envoyé</button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="menu">
                <p class="menu-label">
                    Moussa Mahamat ADJI
                </p>
                <ul class="menu-list">
                    <li>
                        <a class="is-active">Accueil</a>
                        <ul>
                            <li><a>Qui suis-je?</a></li>
                            <li><a>Mes activés</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="has-text-justified">
                <span><a href='{{ "https://github.com/2maj" }}'><i class="fa fa-github" aria-hidden="true"></i>  Github</a></span>
                <p><a href="{{ 'https://www.linkedin.com/in/moussa-adji-mahamat/' }}"><i class="fab fa-linkedin-in"></i>  Linkedin</a></p>
                <p><a href='{{ "https://discord.com/login" }}'><i class="fab fa-discord" aria-hidden="true"></i>  Discord(<strong>mht_tekashi#8949</strong>)</a></p>
                <p><a href='{{ "https://www.instagram.com/mht_adji/" }}'><i class="fa fa-instagram" aria-hidden="true"></i>  Instagram</a></p>
            </div>
        </div>
    </div>
    </div>
</div>